<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- conversions -->
<!-- I couldn't make the simulation work with realistic values, so I tweaked the conversion values -->
<xacro:property name="mm_to_m" value="0.001"/>
<xacro:property name="mm2_to_m2" value="0.000001"/>
<xacro:property name="gr_to_Kg" value="0.001"/>

<!-- not so negligible, otherwise simulation fails -->
<xacro:property name="bottle_mass" value="${1000*gr_to_Kg}"/>
<xacro:property name="bottle_inertia">
    	<origin xyz="0 0 0"/>
    	<mass value="${bottle_mass}"/>
    	<inertia ixx="${bottle_mass * 10 * mm2_to_m2}" ixy="0.0" ixz="0.0" iyy="${bottle_mass * 10 * mm2_to_m2}" iyz="0.0" izz="${bottle_mass * 10 * mm2_to_m2}"/>
</xacro:property>

<xacro:macro name="model_bottle" params="parent name *origin **material">
  	<joint name="${parent}_${name}_base_joint" type="fixed">
    		<insert_block name="origin"/>
   	 	<parent link="${parent}"/>
    		<child link="${name}_link"/>
  	</joint>
  	<link name="${name}_link">
      <insert_block name="material"/>
    		<inertial>
      			<insert_block name="bottle_inertia"/>
    		</inertial>
    		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.3" radius="0.03"/>
			</geometry>
    		</visual>
		<collision>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<cylinder length="0.3" radius="0.03"/>
			</geometry>
		</collision>
  	</link>

  	<gazebo reference="${name}_link">
    		<!-- <static>true</static> -->
  	</gazebo>
 </xacro:macro>
 </robot>
